*.aux
*.bbl
*.bcf
main.blg
main.idx
main.ilg
main.ind
main.lof
main.log
main.lot
main.pdf
main.ptc
main.run.xml
main.toc
main.fdb_latexmk
main.fls
texput.log
example.log
*.fdb_latexmk
*.fls
*.log
*.toc
*.pdf
*.idx
*.ilg
*.ind
*.xml
*.ptc
*.blg
myChessNotebook/myChessNotebook.bbl-SAVE-ERROR
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.out
